/* -------------------
   CSS code for all 
-----------------------*/


/* fetured section start */
.gray-img {
    filter: grayscale(100%);
}
.img {
    width: 288px;
    height: 243px;
}

/* happy clients section start */
/* 
.img-2 {
    width: 323px;
    height: 478.01px;
} */