/* -------------------
   CSS code for all 
-----------------------*/
.background-color {
    background-color: #E76F51;
    color: white;
}
.color {
    color: #E76F51;
}
h1 {
    font-weight: bold;
}

/* fetured section start */
.gray-img {
    filter: grayscale(100%);
}
.img {
    width: 288px;
    height: 243px;
}

/* happy clients section start */

.fas, .far {
    color: #E76F51;
}

/* 
.img-2 {
    width: 323px;
    height: 478.01px;
} */