/* -------------------
   CSS code for all 
-----------------------*/
.background-color {
    background-color: #E76F51;
    color: white;
}
.color {
    color: #E76F51;
}
h1 {
    font-weight: bold;
}

/* fetured section start */
.gray-img {
    filter: grayscale(100%);
}
.img {
    width: 288px;
    height: 243px;
}

/* happy clients section start */

.fas, .far {
    color: #E76F51;
}

/* bike repaire section start------- */
.bike-repaire {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/Bike-repair.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}